name: Repository Dispatch
on:
  workflow_dispatch
jobs:
  myEvent:
    runs-on: ubuntu-latest
    environment:
        name: dev
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
            token: ${{ secrets.PAT }}
            repository: taichi-kanaya-organization/repository_dispatch
            event-type: my-event
            client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
